body {
    background-color: darkslategrey;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.variableTextContainer {
    width: 400px;
    height: 260px;
}

#gameWinner {
    font-size: 20px;
    font-weight: bold;
}

#welcome {
    font-size: 32px;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
}

#rock {
    max-height: auto;
    max-width: 60px;
}

#paper,
#scissors {
    max-height: auto;
    max-width: 70px;
}

#restart0,
#restart1,
#restart2 {
    max-height: 70px;
    max-width: 75px;
}

#rules {
    max-height: auto;
    max-width: 400px;
}