body {
    style
}


body {
    background-color: darkslategrey;
}

p,
#welcome {
    color: white;
}

#rock {
    max-height: 70px;
    max-width: 70px;
}

#paper {
    max-height: 100px;
    max-width: auto;
}

#scissors {
    max-height: 110px;
    max-width: 110px;
}

#restart {
    max-height: 80px;
    max-width: auto;
}